@use '../helpers' as *;

.accordion {
    --transition-duration: 0.3s;
    will-change: transform, opacity;

    &__inner {
        &--painted {
            position: relative;
            padding: 24px;
            background-color: var(--color-black-50);

            &:has(.accordion__button.is-active) {
                &::before {
                    opacity: 1;
                }

                &::after {
                    opacity: 0;
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                inset: -1px;
                z-index: -1;
                transition-duration: var(--transition-duration);
            }

            &::before {
                background: var(--linear-gradient-blue-pink);
                opacity: 0;
            }

            &::after {
                background: var(--linear-gradient-grey-black);
                opacity: 1;
            }

            .accordion__content {
                padding-top: 0;

                & p {
                    margin-top: 12px;
                    padding-top: 12px;
                    border-top: var(--border);
                }

            }

            .accordion__button {
                border: none;
                padding-bottom: 0;
                color: var(--color-grey-2);
                transition-duration: var(--transition-duration);

                &.is-active {
                    color: var(--color-white);
                }
            }



        }
    }

    &__button {
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: var(--border);

        &.is-active {

            &>span::after {
                rotate: -180deg;
                transition-duration: var(--transition-duration);
            }

            &+.accordion__content {
                grid-template-rows: 1fr;
            }

        }
    }

    &__summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &__button>span {
        display: flex;
        justify-content: space-between;

        &::after {
            transition-duration: var(--transition-duration);
        }
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        padding-top: 12px;
        transition-duration: var(--transition-duration);


        &-inner {
            overflow: hidden;

            &>p {
                font-weight: 400;
            }
        }


    }
}