@use '../helpers' as *;

.accordion {
    --transition-duration: 0.3s;

    &__button {
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: var(--border);

        &.is-active {

            &>span::after {
                rotate: -180deg;
                transition-duration: var(--transition-duration);
            }

            &+.accordion__content {
                grid-template-rows: 1fr;
            }

        }
    }

    &__summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }

    &__button>span {
        display: flex;
        justify-content: space-between;

        &::after {
            transition-duration: var(--transition-duration);
        }
    }

    .accordion__content {
        display: grid;
        grid-template-rows: 0fr;
        padding-top: 12px;

        // transform: translateZ(0);
        // will-change: grid-template-rows;
        transition-property: grid-template-rows;

        transition-duration: var(--transition-duration);

        &-inner {
            overflow: hidden;

            &>p {
                font-weight: 400;
            }
        }


    }
}