@use '../helpers' as *;

.article {
    padding-bottom: 143px;

    @include tablet {
        padding-bottom: 104px;
    }

    &__main {
        display: flex;
        column-gap: 76px;

        @include laptop {
            flex-direction: column;
            row-gap: 100px;
        }

        &-image {
            width: 100%;
            height: 528px;
            object-fit: cover;
            padding-bottom: 30px;

            @include tablet {
                height: 266px;
            }
        }
    }

    &__header {
        display: grid;
        row-gap: 12px
    }

    &__title {
        @include clamp-text(32, 40);
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 8px;
        width: max-content;
        padding-bottom: 24px;
    }

    &__author {
        font-weight: 500;
        text-transform: uppercase;
        color: transparent;
    }

    &__paragraph {
        padding-bottom: 24px;
    }

    &__secondary-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 34px;
        padding-top: 66px;
        padding-bottom: 80px;

        @include tablet {
            column-gap: 17px;
            padding-top: 8px;
            padding-bottom: 32px;
        }
    }

    &__secondary-image {
        width: 100%;
        height: 252px;
        object-fit: cover;

        @include tablet {
            height: 127px;
        }
    }

    &__footer {
        display: grid;
        row-gap: 17px;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        row-gap: 75px;

    }


}