@use '../helpers' as *;

.blog {
    padding-bottom: 150px;

    @include tablet {
        padding-bottom: 100px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        width: 100%;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__item {

        &:not(.skeleton) {
            position: relative;
            background-color: var(--color-black-50);

            &::before,
            &::after {
                content: '';
                position: absolute;
                inset: -1px;
                z-index: -1;
                transition-duration: var(--transition-duration);
            }

            &::before {
                background: var(--linear-gradient-grey-black);
                opacity: 1;
            }

            &::after {
                background: var(--linear-gradient-blue-pink);
                opacity: 0;
            }

            @media(hover: hover) {

                &:hover {

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }

            @media(hover: none) {

                &.is-active {

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

    }

    &__image {
        width: 100%;
        height: 252px;
        object-fit: cover;
    }

    &__info {
        padding: 16px 24px 32px;
    }

    &__subtitle {
        margin-bottom: 12px;
    }

    &__title {
        font-size: 18px;
        padding-bottom: 20px;
    }

    &__link {
        position: relative;
        font-size: 14px;
        font-weight: 700;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 1px;
            background: var(--linear-gradient-blue-pink);
        }
    }

    &__extra {
        display: flex;
        justify-content: center;
    }
}