@use '../helpers' as *;

.breadcrumb {

    &__list {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &__item {

        &:has(.breadcrumb__link){
            position: relative;
            padding-right: 23px;
            font-weight: 600;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                background: url('../icons/arrow-down.svg') center/contain no-repeat;
                rotate: 270deg;
                @include square(18);
            }
        }
    }

    &__current-page {
        font-weight: 300;
        color: var(--color-grey-2);
    }
}