@use '../helpers' as *;

.button {
    --bg-color: none;
    border-image: var(--border-image-gradient-blue-pink);

    &--painted {

        &-gradient,
        &-black {
            display: inline-block;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            padding: 18px 38px;
            
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                inset: 1px;
                background: var(--bg-color);
                opacity: 1;
                z-index: -1;
            }

            @media(hover: hover) {
                &:hover {
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }

        &-gradient {
            --bg-color: var(--linear-gradient-blue-pink);
        }

        &-black {
            --bg-color: rgba(255, 255, 255, 0.06);
        }
    }

    &--arrow-right {


        &::after {
            content: '';
            background: url('../../icons/arrow-right.svg') center/contain no-repeat;
            @include abs-center;
        }
    }

}