@use '../helpers' as *;

.button {
    --bg-color: none;
    border-image: var(--border-image-gradient-blue-pink);



    &--painted {

        &-gradient,
        &-black {
            display: inline-block;
            position: relative;
            z-index: 1;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            padding: 18px 38px;
        }

        &-gradient {

            &::before {
                content: '';
                position: absolute;
                inset: 1;
                background: var(--linear-gradient-blue-pink);
                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba(255, 255, 255, 0.06);
                opacity: 1;
            }

            &:hover {

                &::before {
                    opacity: 0;
                }
            }
        }

        &-black {
            background-color: rgba(255, 255, 255, 0.06);

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: var(--linear-gradient-blue-pink);
                opacity: 0;
                z-index: -1;
            }

            &:hover {

                &::after {
                    opacity: 1;
                }
            }
        }

        // &-gradient,
        // &-black {
        //     display: inline-block;
        //     position: relative;
        //     font-size: 14px;
        //     font-weight: 700;
        //     letter-spacing: 0.11em;
        //     text-transform: uppercase;
        //     padding: 18px 38px;

        //     z-index: 1;

        //     &::after {
        //         content: '';
        //         position: absolute;
        //         inset: 1px;
        //         background: var(--bg-color);
        //         opacity: 1;
        //         z-index: -1;
        //     }

        //     @media(hover: hover) {
        //         &:hover {
        //             &::after {
        //                 opacity: 0;
        //             }
        //         }
        //     }
        // }

        // &-gradient {
        //     --bg-color: var(--linear-gradient-blue-pink);
        // }

        // &-black {
        //     --bg-color: rgba(255, 255, 255, 0.06);
        // }
    }

    &--arrow-right {

        &::after {
            content: '';
            background: url('../icons/arrow-right.svg') center/contain no-repeat;
            @include abs-center;
        }

        &::before {
            content: '';
            @include abs-center;
            width: 100%;
            height: 100%;
            background: var(--linear-gradient-blue-pink);
            opacity: 0;
            transition-duration: var(--transition-duration);
        }

        &:hover {
            &::before {
                transition-duration: var(--transition-duration);
                opacity: 1;
            }
        }

    }

}