@use '../helpers' as *;

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    width: 100%;

    @include laptop {
        flex-direction: column;
        align-items: start;
    }

    // padding-bottom: 66px;

    // @include tablet {
    //     flex-direction: column;
    //     align-items: start;
    //     row-gap: 145px;
    //     padding-bottom: 144px;
    // }

    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }

    &__advantage {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &__number {
        position: relative;
        font-weight: 600;
        color: var(--color-white);

        &::after {
            content: '';
            display: inline-block;
            width: 48px;
            height: 7px;
            position: absolute;
            bottom: 2px;
            left: -6px;
            background: url('../images/clients/underline.svg') center/contain no-repeat;
        }
    }

    &__video {
        margin-right: -10px;

        @include laptop {
            margin-bottom: -450px;
        }

        @include tablet {
            margin-bottom: -325px;
        }
    }
}