@use '../helpers' as *;

.icon {
    display: flex;
    align-items: center;
    column-gap: 4px;

    &--arrow-down {
        &::after {
            content: '';
            width: 12px;
            aspect-ratio: 1;
            background-image: url('../../icons/arrow-down.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}