@use '../helpers' as *;

.metrics {
    overflow: hidden;
    padding-top: 100px;
    margin-top: -100px;

    padding-bottom: 150px;

    @include tablet {
        padding-bottom: 100px;
    }

    &--our-team {
        @include tablet {
            display: none;
        }
    }
    
    &__main {
        position: relative;

        &::before {
            content: '';
            @include abs-center;
            width: 1340px;
            height: 160px;
            background: radial-gradient(50% 50% at 50% 50%, #343445 0%, rgba(32, 32, 41, 0) 100%);
            filter: blur(10px);
            opacity: 0.7;
            z-index: -1;

            @include tablet {
                width: 330px;
                height: 330px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @include tablet {
            flex-direction: column;
            justify-content: center;
            row-gap: 36px;
        }
    }

    &__item {
        display: grid;
        justify-content: center;
        row-gap: 12px;
    }

    &__key {
        font-weight: 500;
        letter-spacing: 0.14em;
    }

    &__value {
        text-align: center;
    }
}