@use '../helpers' as *;

.post-tags {


    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 4px;
        row-gap: 8px;
        background: var(--linear-gradient-blue-pink);
        background-clip: text;
    }

    &__item {
        font-weight: 300;
        color: transparent;
    }

}