@use '../helpers' as *;

.pricing-card {
    display: grid;
    row-gap: 62px;
    height: 100%;

    &__title {
        font-size: 18px;
        padding-bottom: 9px;
    }

    &__price {
        color: var(--color-grey-3);
        font-weight: 300;
        line-height: 1.3;
        padding-bottom: 9px;

        &-amount {
            font-size: 64px;
            font-weight: 600;
            color: var(--color-white);
        }
    }

    &__description {
        line-height: 1.75;
        padding-bottom: 16px;
    }

    &__list {
        display: grid;
        row-gap: 16px;
    }

    &__item {
        position: relative;
        font-weight: 600;
        padding-left: 26px;

        &::before {
            content: '';
            @include square(20);
            position: absolute;
            left: 0;
            background: url('../images/pricing-plan/check-circle.svg');
        }
    }

    &__button {
        align-self: end;
    }
}