@use '../helpers' as *; 

.product-characteristics {
    display: grid;
    row-gap: 12px;

    &__item {
        display: flex;
        align-items: center;
        column-gap: 12px;

        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            aspect-ratio: 1;
            background: url('../../images/about-us/checkbox.svg') center/contain no-repeat;
        }
    }
}