@use '../helpers' as *;

.reviews {
    --container-size: 1247px;
    --bg-before: var(--linear-gradient-grey-black);
    --opacity: 0;
    --visibility: hidden;
    --body-width: 297px;
    --avatar-width: 75px;
    --column-gap: 28px;

    @include tablet {
        --column-gap: 16px;
    }

    width: var(--container-size);
    aspect-ratio: 1;

    @include laptop {
        @include abs-x;

        --container-size: 1007px;
    }

    &__item {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 1;

        &.is-active {
            --bg-before: var(--linear-gradient-blue-pink);
            --opacity: 1;
            --visibility: visible;
            z-index: 2;
        }

        &:nth-child(1) {

            top: 26%;
            left: 2.5%;

            @include laptop {
                top: 5.5%;
                left: 30.5%;
            }

        }

        &:nth-child(2) {

            top: 88%;
            left: 74%;

            @include laptop {
                top: 82%;
                left: 54.5%;
            }

        }

        &:nth-child(3) {

            top: 75.5%;
            left: 15.5%;

            @include laptop {
                top: 16%;
                left: 47%;
            }

        }

        &:nth-child(4) {

            top: 49%;
            left: 83%;

            @include laptop {
                top: 95%;
                left: 37%;
            }

        }

        &:nth-child(5) {

            top: 20.5%;
            left: 62%;

            @include laptop {
                top: 74%;
                left: 35%;
            }

        }

        &:nth-child(6) {

            top: 70.5%;
            left: 45%;

            @include laptop {
                top: 68%;
                left: 56%;
            }

        }

    }

    &__avatar {
        position: relative;
        width: 75px;
        height: 75px;
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(37, 37, 50, 0.6);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--bg-before);
            padding: 1px;
            border-radius: inherit;
            mask: linear-gradient(#000 0 0) content-box exclude, linear-gradient(#000 0 0);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: -5px;
            left: -20px;
            width: 101px;
            height: 92px;
            background: url('../images/background-gradient.png') center/contain no-repeat;
            filter: blur(5px);
            z-index: -1;
            opacity: var(--opacity);
            transition-duration: var(--transition-duration);
        }
    }

    &__image {
        width: 100%;
        border: 1px solid var(--color-black-100);
        border-radius: inherit;
    }

    &__body {
        display: flex;
        flex-direction: column;
        position: absolute;
        row-gap: 8px;
        background-color: var(--color-grey-transparent);
        width: var(--body-width);
        opacity: var(--opacity);
        visibility: var(--visibility);
        transition-duration: var(--transition-duration);
        padding: 18px 19px 13px 23px;
        left: calc(75px + var(--column-gap));
        clip-path: polygon(5% 0%,
                100% 0%,
                100% 100%,
                5% 100%,
                0% 50%,
            );


        &.is-on-the-left-side {
            padding: 23px 19px 13px 18px;
            left: calc((297px + var(--column-gap)) * -1);
            clip-path: polygon(0% 0%,
                    95% 0%,
                    100% 50%,
                    95% 100%,
                    0% 100%,
                );
        }

        &.is-on-the-bottom-side {
            height: auto;
            padding: 13px 19px 23px 18px;
            bottom: calc(75px + var(--column-gap));
            width: 138px;
            left: -42%;
            clip-path: polygon(0% 0%,
                    100% 0%,
                    100% 95%,
                    50% 100%,
                    0% 95%,
                );

            .reviews__author {
                width: auto;
            }
        }

        & p {
            font-size: 12px;
            font-weight: 400;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--linear-gradient-grey-black);
            clip-path: inherit;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 1px;
            background: var(--color-black-50);
            clip-path: inherit;
            z-index: -1;
        }
    }

    &__author {
        border-image: var(--border-image-gradient-blue-pink);
        border-image-slice: 0 0 1 0;
        width: max-content;
    }
}