@use '../helpers' as *;

.reviews {
    --container-size: 1247px;
    --bg-before: var(--linear-gradient-grey-black);
    --opacity: 0;
    --visibility: hidden;
    --body-height: 123px;
    --body-width: 297px;
    --avatar-width: 75px;
    --column-gap: 16px;

    @include tablet {
        --column-gap: 16px;
    }

    width: var(--container-size);
    aspect-ratio: 1;

    @include laptop {
        @include abs-x;

        --container-size: 1007px;
    }

    &__item {
        // position: relative;
        display: flex;
        align-items: center;
        width: max-content;
        // z-index: 1;

        &.is-active {
            --bg-before: var(--linear-gradient-blue-pink);
            --opacity: 1;
            --visibility: visible;
            position: relative;
            z-index: 1;
            // z-index: 2;
        }

        &:nth-child(1) {

            // top: 305px;
            // left: 15px;
            
            translate: 10px 310px;

            @include laptop {
                // top: 5.5%;
                // left: 30.5%;

                translate: 305px 20px;
            }

        }

        &:nth-child(2) {
            // top: 920px;
            // left: 960px;

            translate: 940px 930px;

            @include laptop {
                // top: 82%;
                // left: 54.5%;

                translate: 545px 660px;
            }

        }

        &:nth-child(3) {
            // top: 630px;
            // left: 170px;

            translate: 170px 625px;

            @include laptop {
                // top: 16%;
                // left: 47%;

                translate: 465px -140px;
            }

        }

        &:nth-child(4) {
            // top: 205px;
            // left: 1045px;

            translate: 1040px 205px;

            @include laptop {
                // top: 95%;
                // left: 37%;

                translate: 360px 520px;
            }

        }

        &:nth-child(5) {
            // top: -305px;
            // left: 795px;

            translate: 770px -320px;

            @include laptop {
                // top: 74%;
                // left: 35%;

                translate: 345px 175px;
            }

        }

        &:nth-child(6) {
            // top: 150px;
            // left: 700px;

            translate: 570px 175px;

            @include laptop {
                // top: 68%;
                // left: 56%;

                translate: 570px -25px;
            }

        }

    }

    &__avatar {
        position: relative;
        width: 75px;
        height: 75px;
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(37, 37, 50, 0.6);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--bg-before);
            padding: 1px;
            border-radius: inherit;
            mask: linear-gradient(#000 0 0) content-box exclude, linear-gradient(#000 0 0);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: -5px;
            left: -20px;
            width: 101px;
            height: 92px;
            background: url('../images/background-gradient.png') center/contain no-repeat;
            filter: blur(5px);
            z-index: -1;
            opacity: var(--opacity);
            transition-duration: var(--transition-duration);
        }
    }

    &__image {
        width: 100%;
        border: 1px solid var(--color-black-100);
        border-radius: inherit;
    }

    &__body {
        display: flex;
        flex-direction: column;
        // position: absolute;
        row-gap: 8px;
        background-color: var(--color-grey-transparent);
        width: var(--body-width);
        opacity: var(--opacity);
        visibility: var(--visibility);
        transition-duration: var(--transition-duration);
        height: var(--body-height);
        width: var(--body-width);
        padding: 18px 19px 13px 23px;
        // left: calc(75px + var(--column-gap));
        translate: var(--column-gap);
        clip-path: polygon(5% 0%,
                100% 0%,
                100% 100%,
                5% 100%,
                0% 50%,
            );


        &.is-on-the-left-side {
            padding: 23px 19px 13px 18px;
            translate: calc((var(--body-width) + var(--avatar-width) + var(--column-gap)) * -1);
            // left: calc((297px + var(--column-gap)) * -1);
            clip-path: polygon(0% 0%,
                    95% 0%,
                    100% 50%,
                    95% 100%,
                    0% 100%,
                );
        }


        &.is-on-the-top-side {
            // height: auto;
            // padding: 13px 19px 23px 18px;
            // // bottom: calc(75px + var(--column-gap));
            // translate: calc(var(--avatar-width) * -1 / 2) var(--avatar-width);
            // width: 138px;
            // // left: -42%;
            // clip-path: polygon(0% 0%,
            //         100% 0%,
            //         100% 95%,
            //         50% 100%,
            //         0% 95%,
            //     );

            // width: 3px;
            
            // height: var(--body-width);
            // width: var(--body-height);
            padding: 20px;
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
            translate: calc((var(--body-width) + var(--avatar-width)) / 2 * -1) calc((var(--body-height) - var(--column-gap)) * -1);

            .reviews__author {
                width: auto;
            }
        }

        & p {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.67;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--linear-gradient-grey-black);
            clip-path: inherit;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 1px;
            background: var(--color-black-50);
            clip-path: inherit;
            z-index: -1;
        }
    }

    &__author {
        border-image: var(--border-image-gradient-blue-pink);
        border-image-slice: 0 0 1 0;
        width: max-content;
    }
}