@use '../helpers' as *;

.section {
    overflow: hidden;
    padding-bottom: 150px;

    @include tablet {
        padding-bottom: 105px;
    }

    &__main {
        @include laptop-above {
            display: flex;
            align-items: end;
            column-gap: 94px;
        }

        &:has(.accordion) {
            @include laptop-above {
                align-items: start;
                column-gap: 233px;
            }

            @include laptop {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 48px;
            }

            .section__body {
                padding-top: 94px;

                @include laptop {
                    padding-top: 0;
                }
            }

            .section__picture {
                margin-right: -5px;

                @include laptop {
                    padding-bottom: 36px;
                }
            }

            .section__image {
                padding-left: 0;

                @include laptop {
                    margin-left: 50px;
                }

                @include tablet {
                    margin-left: 23px;
                }

                &>img {
                    margin-left: -50px;
                    margin-bottom: -5px;

                    @include tablet {
                        width: 452px;
                        height: 492px;
                    }
                }

                &::before {
                    right: 0;
                }

                &::after {
                    top: 0;
                }
            }

            .section__video {
                margin-left: -275px;
                margin-bottom: -35px;

                @include tablet {
                    margin-left: -235px;
                }
            }

            // .section__image > img {
            //     margin-left: -80px;
            //     margin-bottom: -10px;
            // }
        }
    }

    &__picture {
        display: flex;
        align-items: end;

        @include laptop {
            padding-bottom: 65px;
        }
    }

    &__image {
        position: relative;
        padding-left: 24px;


        @include tablet {
            padding-left: 0;
        }

        &>img {
            @include tablet {
                width: 457px;
                height: 468px;
                margin-left: -15px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            bottom: 0;
            width: 400px;
            height: 500px;
            background-color: var(--color-black-50);
            z-index: -1;

            @include tablet {
                width: 300px;
                height: 373px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            right: -70px;
            top: -40px;
            width: 805px;
            height: 785px;
            background: url('../../images/background-gradient.png') center/contain no-repeat;
            border: 0 50% 0 0;
            filter: blur(40px);
            z-index: -1;

            @include tablet {
                width: 557px;
                height: 591px;
                top: -30px;
                right: 10px;
            }
        }
    }

    &__video {
        margin-left: -215px;
        margin-bottom: -25px;

        @include tablet {
            width: 147px;
            height: 96px;
            margin-left: -195px;
        }

        @include mobile-l {
            margin-left: -215px;
        }
    }

    &__body {
        display: grid;
        justify-items: start;
        row-gap: 12px;
    }

    &__description {
        padding-bottom: 12px;
    }

    &__list {
        padding-bottom: 24px;
    }
}