@use '../helpers' as *;

.section-alt {
    --container-width: 1247px;
    --container-padding-x: 16px;

    padding-bottom: 100px;

    overflow: hidden;

    &:has(.section-alt__main--our-service .reviews) {
        
        @include tablet-above {
            margin-bottom: 150px;
        }
    }

    &:has(.accordion__inner--painted),
    &:has(.price) {
        margin-top: -150px;
        padding-top: 150px;

        @include tablet-above {
            padding-bottom: 150px;
        }
    }

    &:has(.section-alt__main--about-us .product-features) {
        position: relative;
        margin-top: -721px;
        padding-top: 721px;
        z-index: 1;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 1000px;
            height: 721px;
            top: 345px;
            left: -15px;
            background: url('../images/background-cells.svg') center / cover no-repeat;
            // z-index: -1;

            @include tablet {
                top: 160px;
                left: -75px;
            }
        }
    }



    &:has(.partners) {
        // overflow: hidden;

        @include tablet-above {
            padding-bottom: 150px;
        }


        .section-alt__main {
            max-width: 1055px;
            row-gap: simple-clamp(24, 58);
            padding-inline: 0;
        }

    }

    &:has(.price) {
        // overflow: hidden;

        .section-alt__main {
            row-gap: 40px;

            @include tablet {
                row-gap: 47px;
            }

            &::before {
                width: 1103px;
                height: 783px;
                bottom: -90px;
                right: -120px;
                scale: 1.2;
                filter: blur(30px);

                @include tablet {
                    width: 530px;
                    height: 685px;
                    right: -20px;
                }
            }
        }

        .section-alt__description {
            max-width: 625px;
        }

        .section-alt__title {
            padding-bottom: 16px;
        }
    }

    &:has(.reviews) {
        position: relative;
        width: 100%;
        height: 1247px;
        margin-bottom: 100px;
        z-index: 2;

        @include laptop {
            margin-bottom: 50px;
        }

        @include mobile-l {
            padding-top: 102px;
            margin-top: -102px;
            height: 1300px;
        }

        .section-alt__header {
            top: 110px;

            @include abs-x;

            @include laptop {
                position: relative;
                top: 0;
                min-width: 362px;
            }
        }

        .section-alt__main {
            row-gap: 29px;

            @include abs-x;

            &::before {
                display: none;
            }
        }
    }

    &:has(.video-player) {
        position: relative;
        z-index: 1;
        padding-top: 150px;
        margin-top: -150px;

        @include tablet {
            padding-top: 0px;
            margin-top: 0px;
        }

        .section-alt__main {
            row-gap: simple-clamp(32, 48);

            &::before {
                content: '';
                position: absolute;
                top: -120px;
                left: -260px;
                width: 616px;
                height: 619px;
                background: url('../images/background-gradient.webp') center/contain no-repeat;
                filter: blur(50px);
                opacity: 0.8;
                z-index: -1;

                @include tablet {
                    display: none;
                }
            }
        }

        .section-alt__header {
            // max-width: 679px;
        }

        .section-alt__button {
            will-change: opacity;
        }
    }

    &__subtitle {
        padding-bottom: 12px;
    }

    &__main {
        position: relative;
        display: grid;

        &--center {
            justify-items: center;

            .section-alt__header {
                text-align: center;
            }
        }

        &--homepage,
        &--our-service,
        &--detail-service {
            @include tablet {
                row-gap: 32px;
            }

            &::before {
                content: '';
                position: absolute;
                background: url('../images/background-gradient.webp') center/contain no-repeat;
                z-index: -1;
            }
        }

        &--our-service {

            &:has(.price) {
                &::after {
                    content: '';
                    position: absolute;
                    top: -110px;
                    left: -220px;
                    width: 577px;
                    height: 551px;
                    background: url('../images/background-gradient.webp') center/contain no-repeat;
                    filter: blur(40px);
                    z-index: -1;

                    @include tablet {
                        display: none;
                    }
                }
            }
        }

        &--about-us {
            // position: relative;
            // overflow: hidden;



            .section-alt__header {
                max-width: 608px;
                padding-bottom: 54px;

                @include tablet {
                    padding-bottom: 32px;
                }
            }

            &:has(.accordion__inner--painted) {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    transform: translateZ(0); //создает новый слой и не перерисовывается от изменения аккордеона (исправление дерганности анимации аккордеона)
                    right: -350px;
                    top: -50px;
                    width: 656px;
                    height: 551px;
                    background: url('../images/background-gradient.webp') center/contain no-repeat;
                    filter: blur(40px);
                    opacity: 0.9;
                }
            }

        }

        &:has(.section-alt__accordion-group) {
            max-width: calc(790px + var(--container-padding-x) * 2);

            .section-alt__title {
                padding-bottom: 24px;
            }

            .section-alt__header {
                max-width: 764px;
                padding-bottom: 48px;
            }
        }


    }

    &__body {
        width: 100%;
    }

    &__header {
        contain: paint;
    }
}