@use '../helpers' as *;

.section {
    --translateY-video: 0;
    overflow: hidden;
    padding-bottom: 150px;

    @include tablet {
        padding-bottom: 100px;
    }

    &__body{

        &:has(.accordion-group){
            
            @include laptop-above {
                max-width: 548px;
            }
        }
    }

    &__picture {
        display: flex;
        align-items: end;
        padding-bottom: var(--translateY-video);
    }

    &__video {
        margin-bottom: calc(var(--translateY-video) * -1);
    }

    &__image {
        display: flex;
        align-items: start;
        position: relative;

        &>img {

            @include tablet {
                object-fit: contain;
            }
        }


        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            bottom: 0;
            width: 400px;
            height: 500px;
            background-color: var(--color-black-50);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 805px;
            height: 785px;
            background: url('../images/background-gradient.webp') center/contain no-repeat;
            border: 0 50% 0 0;
            filter: blur(40px);
            z-index: -1;

            @include tablet {
                width: 557px;
                height: 591px;
            }
        }
    }

    &__subtitle {
        padding-bottom: 12px;
    }

    &:has(.section__main--about-us) {

        &:has(.accordion-group) {
            margin-top: -100px;
            padding-top: 100px;
        }
    }

    &__main {
        display: flex;

        @include laptop {
            flex-direction: column;
            row-gap: 48px;
        }

        &:has(.accordion-group) {
            // .section__picture {
            //     // transform: translateZ(0);
            // }


            .section__title {
                padding-bottom: 20px;
            }
        }

        &--homepage {

            .section__image {

                &::before {
                    @include tablet {
                        width: 300px;
                        height: 373px;
                    }
                }

                &::after {
                    right: -70px;
                    top: -40px;

                    @include tablet {
                        top: -30px;
                        right: 10px;
                    }
                }
            }

            &:has(.section__description) {
                --translateY-video: 25px;

                @include laptop-above {
                    align-items: end;
                    column-gap: 94px;
                }

                .section__body {
                    max-width: 549px;

                    @include laptop {
                        max-width: 100%;
                    }
                }

                .section__title {
                    padding-bottom: 12px;
                }

                .section__description {
                    padding-bottom: 24px;
                }

                .section__list {
                    padding-bottom: 32px;
                }

                .section__button {
                    margin-bottom: 15px;
                }

                .section__video {
                    margin-left: -215px;

                    @include tablet {
                        width: 147px;
                        height: 96px;
                        margin-left: -195px;
                    }

                    @include mobile-l {
                        margin-left: -215px;
                    }
                }

                .section__image {
                    padding-left: 24px;

                    @include tablet {
                        padding-left: 0;
                    }

                    &>img {
                        @include tablet {
                            width: 457px;
                            height: 468px;
                            margin-left: -15px;
                        }
                    }
                }
            }

            &:has(.accordion-group) {
                --translateY-video: 35px;

                @include laptop-above {
                    align-items: start;
                    column-gap: 233px;
                }

                @include laptop {
                    flex-direction: column-reverse;
                }

                .section__body {

                    @include laptop-above {
                        padding-top: 84px;
                    }
                }

                .section__picture {
                    margin-right: -5px;
                }

                .section__image {
                    padding-left: 0;

                    @include laptop {
                        margin-left: 50px;
                    }

                    @include tablet {
                        margin-left: 23px;
                    }

                    &>img {
                        margin-left: -50px;

                        @include tablet {
                            width: 452px;
                            height: 492px;
                        }
                    }

                    &::before {
                        right: 0px;
                    }

                    &::after {
                        top: 0px;
                    }
                }

                .section__video {
                    margin-left: -275px;

                    @include tablet {
                        margin-left: -235px;
                    }
                }
            }
        }

        &--about-us {

            &:has(.section__description) {
                --translateY-video: 33px;
                position: relative;
                column-gap: 147px;
                z-index: 2;

                @include tablet {
                    --translateY-video: 26px;
                }

                .section__picture {

                    @include laptop {
                        margin-left: 100px;
                    }

                    @include tablet {
                        margin-left: 75px;
                    }
                }

                .section__body {
                    padding-top: 40px;
                    max-width: 625px;

                    @include laptop {
                        padding-top: 0;
                        max-width: 100%;
                    }
                }

                .section__video {
                    margin-left: -478px;

                    @include tablet {
                        width: 155px;
                        height: 101px;
                        margin-left: -375px;
                    }
                }

                .section__image>img {
                    margin-left: -18px;

                    @include tablet {
                        width: 315px;
                        height: 453px;
                    }
                }

                .section__title {
                    padding-bottom: 18px;
                }

                .section__image {


                    &::before {

                        @include tablet {
                            width: 316px;
                            height: 393px;
                        }
                    }

                    &::after {
                        right: -200px;
                        top: -45px;

                        @include tablet {
                            right: -120px;
                        }
                    }
                }
            }

            &:has(.accordion-group) {
                --translateY-video: 52px;
                justify-content: center;
                column-gap: 80px;

                @include tablet {
                    --translateY-video: 42px;
                }

                .section__body {
                    
                    @include laptop-above {
                        padding-top: 67px;
                    }
                }

                .section__image {

                    @include tablet {
                        margin-left: 8px;
                    }

                    &::before {

                        @include tablet {
                            width: 326px;
                            height: 405px;
                        }
                    }

                    &::after {
                        top: -80px;
                        left: -220px;

                        @include tablet {
                            left: -140px;
                        }
                    }
                }

                .section__image>img {
                    margin-left: -16px;
                    padding-right: 16px;

                    @include tablet {
                        width: 407px;
                        height: 468px;
                        margin-left: -8px;
                        padding-right: 0px;
                    }
                }

                .section__video {
                    margin-left: -210px;

                    @include tablet {
                        width: 160px;
                        height: 104px;
                        margin-left: -180px;
                    }
                }
            }
        }


    }


}