@use '../helpers' as *;

.service {
    --translate-item: 57px;
    overflow-x: clip;
    padding-bottom: 150px;

    @include tablet {
        padding-bottom: 100px;
    }

    &__header {
        display: flex;
        align-items: start;
        column-gap: 274px;
        padding-bottom: simple-clamp(24, 46);

        @include laptop {
            column-gap: 174px;
        }

        @include tablet {
            flex-direction: column;
            row-gap: 12px;
        }

    }

    &__overlay {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__title {
        width: max-content;
    }

    &__description {
        max-width: 625px;

        position: relative;

        @include tablet-above {
            &::after {
                content: '';
                position: absolute;
                top: -200px;
                right: -210px;
                width: 613px;
                height: 619px;
                opacity: 0.8;
                z-index: -1;
                filter: blur(50px);
                background: url('../images/background-gradient.png') center/contain no-repeat;
            }
        }

    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 26px;
        row-gap: 32px;
        padding-bottom: calc(var(--translate-item) + 78px);

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: var(--translate-item);
        }

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 0;
        }
    }

    &__item {
        position: relative;
        background-color: var(--color-black-50);
        border-image: var(--border-image-gradient-grey-black);
        padding: 38px 32px 25px;
        min-height: 291px;

        &-image {
            padding-bottom: 60px;
        }

        &-title {
            padding-bottom: 12px;
        }

        &-link-container {
            position: absolute;
            top: 50%;
            left: 1px;
            right: 1px;
            bottom: 1px;
            display: flex;
            align-items: end;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            transition-duration: var(--transition-duration);
            background: linear-gradient(180deg, rgba(37, 37, 50, 0) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);

            &:hover {
                visibility: visible;
                opacity: 1;
            }
        }

        &-link {
            bottom: 31px;
        }

        &-description>p {
            font-size: 14px;
        }

        &:hover {
            .service__item-link-container {
                visibility: visible;
                opacity: 1;
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            pointer-events: none;
            border-image: var(--border-image-gradient-blue-pink);
            transition-duration: var(--transition-duration);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

    }

    @include laptop-above {
        &__item:nth-child(3n + 2) {
            translate: 0 var(--translate-item);
            margin-left: 10px;
        }

        &__item:nth-child(3n) {
            translate: 0 calc(var(--translate-item) + 78px);
        }
    }

    @include laptop {
        &__item:nth-child(2n) {
            translate: 0 var(--translate-item);
        }
    }

    @include tablet {
        &__item:nth-child(2n) {
            translate: 0;
        }
    }

}