@use '../helpers' as *;

.soc1als {

    &__list {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__link {
        @include circle(46);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // background-color: var(--color-black-100);
        

        &>svg {
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 1;
            background-color: var(--color-black-100);
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            z-index: 0;
            background: var(--linear-gradient-blue-pink);
            border-radius: 50%;
            padding: 1px;
            mask: linear-gradient(#000 0 0) content-box exclude, linear-gradient(#000 0 0);
        }

        &:hover {
            // background: var(--linear-gradient-blue-pink);

            &::before {
                background: var(--linear-gradient-blue-pink);
            }
            
        }

        &--transparent {
            // background-color: transparent;

            &::before {
                background-color: transparent;
            }
        }

        //исправить hover на svg!
    }
}