@use '../helpers' as *;

.subscribe {
    padding-bottom: 182px;

    @include tablet {
        padding-bottom: 92px;
    }

    &__main-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        background: var(--linear-gradient-blue-pink);
        padding: 38px 74px 31px 74px;
        border-radius: 4px;

        @include laptop {
            flex-direction: column;
            align-items: start;
            padding: 31px 13px;
        }

        @include tablet {
            align-items: center
        }
    }

    &__title {
        @include clamp-text(28, 40);
        max-width: 520px;

        @include tablet {
            text-align: center;
        }
    }

    &__form {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 365px;
        background-color: rgba(255, 255, 255, 0.07);
        border: none;
        padding: 3px;

        @include mobile-l {
            width: 100%;
        }

        &.is-invalid {
            border: 1px solid red;
        }
    }

    &__message {
        --message-width: 0;
        --animation-duration: 1500;
        position: absolute;
        bottom: 30%;
        left: 14px;
        z-index: 1;

        &.is-active {
            animation-name: animate;
            animation-duration: calc(var(--animation-duration) * 1ms);
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;
        }

        @keyframes animate {
            50% {
                bottom: 120%;
                scale: 1.5;
            }

            100% {
                bottom: 30%;
                left: calc(100% - var(--message-width));
                scale: 0;
            }
        }
    }

    &__input {
        background-color: transparent;
        border: none;
        padding-left: 11px;
        width: 100%;
        color: currentColor;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-family-base);

        &::placeholder {
            font-size: inherit;
            font-weight: inherit;
            font-family: inherit;
            color: currentColor;
            padding-left: 32px;
            background: url('../images/subscribe/icon.svg') 0 no-repeat;
        }
    }

    &__submit-button {
        @include square(49);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.21);

        &>svg {
            z-index: 1;
        }

        &::after {
            content: '';
            @include abs-center;
            width: 100%;
            height: 100%;
            background: var(--linear-gradient-blue-pink);
            opacity: 0;
            transition-duration: var(--transition-duration);
        }

        &:hover {
            &::after {
                transition-duration: var(--transition-duration);
                opacity: 1;
            }
        }

    }
}