@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: var(--font-family-base);
    color: var(--color-white);
    background-color: var(--color-black-100);

    main {
        flex-grow: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 736px;
        height: 353px;
        background: url('../images/background-top.webp') top right/contain no-repeat;
        pointer-events: none;
        opacity: 0.2;
        z-index: -2;

        @include tablet {
            width: 414px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 498px;
        background: url('../images/background-bottom.webp') bottom left/contain no-repeat;
        pointer-events: none;
        opacity: 0.3;
        z-index: -2;

        @include tablet {
            height: 314px;
            background-size: cover;
        }
    }
}

h1,
.h1,
h2,
.h2 {
    font-weight: 600;
    letter-spacing: -0.01em;
}

h3,
.h3 {
    font-size: 20px;
    font-weight: 400;
}

h1,
.h1 {
    @include clamp-text(40, 64);
}

h2,
.h2 {
    @include clamp-text(32, 48);
}

a,
button {
    position: relative;
    transition-duration: var(--transition-duration);

    &::before {
        content: '';
        display: block;
        width: max(44px, 100%);
        height: max(44px, 100%);

        @include abs-center;
    }
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: var(--color-grey-2);
}

ul p {
    font-weight: 400;
    line-height: 2;
    color: var(--color-grey-1);
}

p[class*=subtitle]:not([class$=tile]) {
    font-weight: 500;
    letter-spacing: 0.14em;
}

@media(hover: hover) {

    a:not(:has(svg)),
    button:has(svg) {

        &::before,
        &::after {
            transition-duration: var(--transition-duration);
        }

        &:hover {
            background-image: var(--linear-gradient-blue-pink);
            background-clip: text;
            color: transparent;
            transition-duration: var(--transition-duration);

            &::before,
            &::after {
                transition-duration: var(--transition-duration);
            }
        }
    }
}