*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Плавный скролл
html {
    scroll-behavior: smooth;
}

button,
label {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: currentColor;
    font: inherit;
}