:root {
    --color-purple-10: #CA6AEB;
    --color-blue: #19B5F1;

    --color-green: #00C566;
    --color-red: #FF4747;
    --color-yellow: #FACC15;

    --color-black-100: #18181B;
    --color-black-50: #252532;

    --color-grey-1: #B0B0B2;
    --color-grey-2: #D1D1D1;

    --color-white: #FFFFFF;

    --linear-gradient: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

    --font-family-base: "Chakra Petch", sans-serif;
    --font-family-accent: "Inter", sans-serif;

    --transition-duration: 0.2s;

    --container-width: 1200px;
    --container-padding-x: 16px;
    
}