*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button,
label {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: currentColor;
  font: inherit;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/ChakraPetch-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/ChakraPetch-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/ChakraPetch-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/ChakraPetch-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/ChakraPetch-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter24pt-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-purple-10: #CA6AEB;
  --color-blue: #19B5F1;
  --color-green: #00C566;
  --color-red: #FF4747;
  --color-yellow: #FACC15;
  --color-black-100: #18181B;
  --color-black-50: #252532;
  --color-grey-1: #B0B0B2;
  --color-grey-2: #D1D1D1;
  --color-white: #FFFFFF;
  --linear-gradient: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  --border-image-gradient-blue-pink: var(--linear-gradient) 1/1px stretch;
  --border-image-gradient-grey-black: linear-gradient(90deg, var(--color-grey-1) 0%, var(--color-black-50) 80%) 1/1px stretch;
  --border: 1px solid rgba(255, 255, 255, 0.35);
  --font-family-base: "Chakra Petch", sans-serif;
  --font-family-accent: "Inter", sans-serif;
  --transition-duration: 0.2s;
  --container-width: 1200px;
  --container-padding-x: 16px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin: 0 auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

html.is-lock {
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-base);
  color: var(--color-white);
  background-color: var(--color-black-100);
}
body main {
  flex-grow: 1;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 736px;
  height: 353px;
  background: url("../../images/background-top.svg") top right/contain no-repeat;
  pointer-events: none;
  opacity: 0.2;
  z-index: -2;
}
@media (max-width: 768.98px) {
  body::before {
    width: 414px;
  }
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 498px;
  background: url("../images/background-bottom.svg") bottom left/contain no-repeat;
  pointer-events: none;
  opacity: 0.3;
  z-index: -2;
}
@media (max-width: 768.98px) {
  body::after {
    height: 314px;
    background-size: cover;
  }
}

h1,
.h1,
h2,
.h2 {
  font-weight: 600;
  letter-spacing: -0.01em;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(40px, 5.3333333333vw, 64px);
}

h2,
.h2 {
  font-size: clamp(32px, 4vw, 48px);
}

a,
button {
  position: relative;
  transition-duration: var(--transition-duration);
}
a::before,
button::before {
  content: "";
  display: block;
  width: max(44px, 100%);
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: var(--color-grey-2);
}

ul p {
  font-weight: 400;
  line-height: 2;
  color: var(--color-grey-1);
}

p[class$=subtitle] {
  font-weight: 500;
  letter-spacing: 0.14em;
}

@media (hover: hover) {
  a:not(:has(svg))::before, a:not(:has(svg))::after,
  button::before,
  button::after {
    transition-duration: var(--transition-duration);
  }
  a:not(:has(svg)):hover,
  button:hover {
    background-image: var(--linear-gradient);
    background-clip: text;
    color: transparent;
    transition-duration: var(--transition-duration);
  }
  a:not(:has(svg)):hover::before, a:not(:has(svg)):hover::after,
  button:hover::before,
  button:hover::after {
    transition-duration: var(--transition-duration);
  }
}
.header {
  position: sticky;
  top: 0;
  transition-duration: var(--transition-duration);
  z-index: 1;
}
.header.is-scroll {
  background-color: var(--color-black-100);
  box-shadow: 0 0 20px var(--color-black-100);
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding-block: 31px;
  font-weight: 300;
}
@media (min-width: 768.98px) {
  .header__overlay {
    display: contents;
  }
}
@media (max-width: 768.98px) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    row-gap: 40px;
    padding-block: 100px;
    background-color: var(--color-black-100);
    transition: translate 0.4s ease 0s, opacity 0.4s ease 0.1s, visibility 0.5s;
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    translate: 100%;
    visibility: hidden;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 64px;
}
@media (max-width: 1024.98px) {
  .header__menu-list {
    column-gap: 44px;
  }
}
@media (max-width: 768.98px) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}
.header__menu-item:has(.header__menu-button) {
  position: relative;
  left: 5.5px;
}
.header__menu-item:has(.header__menu-button) .header__menu-overlay {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.header__menu-item:has(.header__menu-button) .header__menu-button > svg {
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
.header__menu-item:has(.header__menu-button) .header__menu-button.is-active > svg {
  rotate: -180deg;
  transition-duration: var(--transition-duration);
}
.header__menu-item:has(.header__menu-button) .header__menu-list {
  display: grid;
  position: absolute;
  margin-top: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: var(--color-black-50);
  border-image: var(--border-image-gradient-blue-pink);
  transition-duration: 0.5s;
  max-width: 200px;
  width: max-content;
  transform-origin: top;
}
.header__menu-item:has(.header__menu-button) .header__menu-list:not(.is-active) {
  scale: 0;
  visibility: hidden;
}
.header__menu-item:has(.header__menu-button) .header__menu-list.open-to-the-left-side {
  transform-origin: top right;
  right: 0;
}
.header__menu-item:has(.header__menu-button) .header__menu-list.open-to-the-right-side {
  transform-origin: top left;
  left: 0;
}
@media (max-width: 768.98px) {
  .header__menu-item:has(.header__menu-button) {
    display: grid;
    justify-content: center;
    grid-template-rows: auto 0;
    overflow-y: hidden;
    transition-duration: var(--transition-duration);
  }
  .header__menu-item:has(.header__menu-button).is-active {
    grid-template-rows: auto 190px;
    transition-duration: var(--transition-duration);
  }
  .header__menu-item:has(.header__menu-button) .header__menu-button, .header__menu-item:has(.header__menu-button) .header__menu-overlay {
    justify-self: center;
  }
  .header__menu-item:has(.header__menu-button) .header__menu-list {
    position: static;
    overflow: auto;
  }
  .header__menu-item:has(.header__menu-button) .header__menu-list:not(.is-active) {
    transform-origin: top;
  }
}
.header__menu-link.is-active {
  font-weight: 500;
}
.header__menu-button {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.header__contact-us-link {
  padding: clamp(10px, 1vw, 12px) clamp(10px, 2vw, 24px);
  border-image: var(--border-image-gradient-blue-pink);
}

.icon {
  display: flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
}
.icon--arrow-down::after {
  content: "";
  width: 12px;
  aspect-ratio: 1;
  background-image: url("../../icons/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.burger-button {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 2px;
  width: 32px;
  aspect-ratio: 1;
  padding: 13px 11px;
  background-color: transparent;
  border-image: var(--border-image-gradient-blue-pink);
}
.burger-button__line {
  height: 1px;
  background-color: var(--color-white);
}
.burger-button__line:nth-child(1) {
  width: 10px;
  rotate: 0;
  translate: 0;
  transition: rotate 0.2s ease 0s, translate 0.2s ease 0.2s;
}
.burger-button__line:nth-child(2) {
  width: 7px;
  rotate: 0;
  transition: rotate 0.2s ease 0s, width 0.2s ease 0.4s;
}
.burger-button__line:nth-child(3) {
  width: 4px;
  translate: 0;
  rotate: 0;
  transition: rotate 0.2s ease 0s, translate 0.2s ease 0.2s, width 0.2s ease 0.4s;
}
@media (min-width: 768.98px) {
  .burger-button {
    display: none;
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  translate: 0 3px;
  rotate: 45deg;
  transition: translate 0.2s ease 0.2s, rotate 0.2s ease 0.4s;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  width: 10px;
  rotate: 45deg;
  transition: width 0.2s ease 0s, rotate 0.2s ease 0.4s;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  width: 10px;
  translate: 0 -3px;
  rotate: -45deg;
  transition: width 0.2s ease 0s, translate 0.2s ease 0.2s, rotate 0.2s ease 0.4s;
}

.footer {
  font-weight: 300;
  padding: 115px 0 40px;
}
.footer__body {
  display: grid;
  grid-template-areas: "logo menu" "soc1als menu";
  grid-template-columns: auto 1fr;
  column-gap: 177px;
  padding-bottom: 33px;
  border-image: var(--linear-gradient) 0 0 1/1px stretch;
}
@media (max-width: 1024.98px) {
  .footer__body {
    grid-template-areas: "logo soc1als" "menu menu";
    gap: 56px;
    align-items: center;
  }
}
@media (max-width: 425.98px) {
  .footer__body {
    grid-template-areas: "logo logo" "soc1als soc1als" "menu menu";
  }
}
.footer__extra {
  padding-top: 32px;
  text-align: center;
}
.footer__logo {
  grid-area: logo;
}
.footer__soc1als {
  grid-area: soc1als;
  align-self: end;
  padding-bottom: 20px;
}
@media (max-width: 1024.98px) {
  .footer__soc1als {
    padding-bottom: 0;
    justify-self: end;
  }
}
@media (max-width: 425.98px) {
  .footer__soc1als {
    justify-self: start;
  }
}
.footer__menu {
  grid-area: menu;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 64px;
  flex-wrap: wrap;
}
@media (max-width: 1024.98px) {
  .footer__menu {
    justify-content: start;
  }
}
.footer__menu-column, .footer__menu-list {
  display: grid;
  justify-items: start;
  row-gap: 16px;
}
.footer__menu-main-link {
  font-weight: 600;
}
.footer__menu-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.soc1als__list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.soc1als__link {
  width: 46px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-black-100);
}
.soc1als__link::after {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  background: var(--linear-gradient);
  border-radius: 50%;
}
.soc1als__link:hover {
  background-color: var(--linear-gradient);
}

.hero-alt {
  position: relative;
  overflow: hidden;
  padding-top: 13px;
  padding-bottom: 120px;
}
@media (max-width: 768.98px) {
  .hero-alt {
    padding-bottom: 100px;
  }
}
.hero-alt__main {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}
@media (max-width: 1024.98px) {
  .hero-alt__main {
    flex-direction: column;
  }
}
.hero-alt__main::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1000px;
  height: 721px;
  top: 140px;
  left: 0;
  background: url("../../images/background-cells.svg") center/contain no-repeat;
  z-index: -1;
}
.hero-alt__body {
  display: grid;
  justify-items: start;
  align-items: end;
  row-gap: 42px;
  max-width: 540px;
}
.hero-alt__clients {
  align-self: start;
}
.hero-alt__picture {
  margin-bottom: -5px;
  position: relative;
  z-index: -1;
}
.hero-alt__picture::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 875px;
  height: 760px;
  top: -30px;
  right: calc((100% - var(--container-width)) / 2 + 210px);
  background: url("../../images/background-gradient.png") center/contain no-repeat;
  filter: blur(40px);
  z-index: -1;
}
@media (max-width: 768.98px) {
  .hero-alt__picture::after {
    width: 440px;
    height: 649px;
    top: -50px;
    right: 30px;
  }
}
@media (max-width: 1024.98px) {
  .hero-alt__picture {
    align-self: end;
    padding-top: 50px;
  }
}
@media (max-width: 768.98px) {
  .hero-alt__picture {
    margin-right: -130px;
  }
}
@media (max-width: 768.98px) {
  .hero-alt__image {
    width: 354px;
    height: 422px;
  }
}
.hero-alt__title {
  padding-bottom: 12px;
}
@media (min-width: 425.98px) {
  .hero-alt__title {
    font-size: clamp(48px, 5.3333333333vw, 64px);
  }
}
.hero-alt__description {
  max-width: 446px;
  padding-bottom: 32px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  width: 100%;
}
@media (max-width: 1024.98px) {
  .clients {
    flex-direction: column;
    align-items: start;
  }
}
.clients__body {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.clients__advantage {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.clients__number {
  position: relative;
  font-weight: 600;
  color: var(--color-white);
}
.clients__number::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 7px;
  position: absolute;
  bottom: 2px;
  left: -6px;
  background: url("../../images/clients/underline.svg") center/contain no-repeat;
}
.clients__video {
  margin-right: -10px;
}
@media (max-width: 1024.98px) {
  .clients__video {
    margin-bottom: -450px;
  }
}
@media (max-width: 768.98px) {
  .clients__video {
    margin-bottom: -325px;
  }
}

.team__image {
  border: 1px solid var(--color-black-100);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.team__image:not(:first-child) {
  margin-left: -17px;
}

.product-features__list {
  display: flex;
  align-items: start;
  gap: 50px;
  padding: 42px 63px 53px;
  background-color: var(--color-black-50);
  border-image: var(--border-image-gradient-grey-black);
}
@media (max-width: 768.98px) {
  .product-features__list {
    flex-direction: column;
    padding: 36px;
  }
}
.product-features__image {
  padding-bottom: 42px;
}
.product-features__title {
  padding-bottom: 12px;
}
.product-features__description p {
  font-size: 14px;
}

.button {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  padding: 18px 38px;
  border-image: var(--border-image-gradient-blue-pink);
}
.button--painted::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  inset: 1;
  background-color: var(--color-black-50);
  z-index: -1;
}
.button--painted::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--linear-gradient);
  opacity: 1;
  z-index: -1;
}
@media (hover: hover) {
  .button--painted:hover::after {
    opacity: 0;
  }
}

.video-player {
  position: relative;
  width: 196px;
  height: 128px;
}
.video-player--wide {
  width: 1200px;
  height: 522px;
}
.video-player--wide .video-player__video {
  border-radius: 12px;
}
.video-player--wide .video-player__button > svg {
  backdrop-filter: blur(8px);
  border-radius: 50%;
}
.video-player--wide .video-player__title {
  font-size: clamp(20px, 3vw, 36px);
}
.video-player--wide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 116px;
  background: linear-gradient(180deg, rgba(92, 107, 206, 0) 0%, #2c40ba 100%);
}
.video-player__timeline {
  z-index: 1;
}
.video-player__info {
  display: grid;
  row-gap: 12px;
  visibility: visible;
  opacity: 1;
  transition-duration: var(--transition-duration);
}
.video-player__info.is-active {
  visibility: hidden;
  opacity: 0;
}
.video-player__window {
  display: flex;
  flex-direction: column;
  justify-items: start;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  padding: 52px 34px 33px;
}
.video-player__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.video-player__button.is-active {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.section {
  overflow: hidden;
  padding-bottom: 150px;
}
@media (max-width: 768.98px) {
  .section {
    padding-bottom: 105px;
  }
}
@media (min-width: 1024.98px) {
  .section__main {
    display: flex;
    align-items: end;
    column-gap: 94px;
  }
}
@media (min-width: 1024.98px) {
  .section__main:has(.accordion-group) {
    align-items: start;
    column-gap: 233px;
  }
}
@media (max-width: 1024.98px) {
  .section__main:has(.accordion-group) {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 48px;
  }
}
.section__main:has(.accordion-group) .section__title {
  padding-bottom: 20px;
}
.section__main:has(.accordion-group) .section__body {
  padding-top: 84px;
}
@media (max-width: 1024.98px) {
  .section__main:has(.accordion-group) .section__body {
    padding-top: 0;
  }
}
.section__main:has(.accordion-group) .section__picture {
  margin-right: -5px;
}
@media (max-width: 1024.98px) {
  .section__main:has(.accordion-group) .section__picture {
    padding-bottom: 36px;
  }
}
.section__main:has(.accordion-group) .section__image {
  padding-left: 0;
}
@media (max-width: 1024.98px) {
  .section__main:has(.accordion-group) .section__image {
    margin-left: 50px;
  }
}
@media (max-width: 768.98px) {
  .section__main:has(.accordion-group) .section__image {
    margin-left: 23px;
  }
}
.section__main:has(.accordion-group) .section__image > img {
  margin-left: -50px;
  margin-bottom: -5px;
}
@media (max-width: 768.98px) {
  .section__main:has(.accordion-group) .section__image > img {
    width: 452px;
    height: 492px;
  }
}
.section__main:has(.accordion-group) .section__image::before {
  right: 0;
}
.section__main:has(.accordion-group) .section__image::after {
  top: 0;
}
.section__main:has(.accordion-group) .section__video {
  margin-left: -275px;
  margin-bottom: -35px;
}
@media (max-width: 768.98px) {
  .section__main:has(.accordion-group) .section__video {
    margin-left: -235px;
  }
}
.section__picture {
  display: flex;
  align-items: end;
}
@media (max-width: 1024.98px) {
  .section__picture {
    padding-bottom: 65px;
  }
}
.section__image {
  position: relative;
  padding-left: 24px;
}
@media (max-width: 768.98px) {
  .section__image {
    padding-left: 0;
  }
}
@media (max-width: 768.98px) {
  .section__image > img {
    width: 457px;
    height: 468px;
    margin-left: -15px;
  }
}
.section__image::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 500px;
  background-color: var(--color-black-50);
  z-index: -1;
}
@media (max-width: 768.98px) {
  .section__image::before {
    width: 300px;
    height: 373px;
  }
}
.section__image::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -70px;
  top: -40px;
  width: 805px;
  height: 785px;
  background: url("../../images/background-gradient.png") center/contain no-repeat;
  border: 0 50% 0 0;
  filter: blur(40px);
  z-index: -1;
}
@media (max-width: 768.98px) {
  .section__image::after {
    width: 557px;
    height: 591px;
    top: -30px;
    right: 10px;
  }
}
.section__video {
  margin-left: -215px;
  margin-bottom: -25px;
}
@media (max-width: 768.98px) {
  .section__video {
    width: 147px;
    height: 96px;
    margin-left: -195px;
  }
}
@media (max-width: 425.98px) {
  .section__video {
    margin-left: -215px;
  }
}
.section__body {
  display: grid;
  justify-items: start;
  row-gap: 12px;
}
.section__description {
  padding-bottom: 12px;
}
.section__list {
  padding-bottom: 24px;
}

.gradient-text {
  display: inline;
  background: var(--linear-gradient) center/contain no-repeat;
  background-clip: text;
  color: transparent;
}

.product-characteristics {
  display: grid;
  row-gap: 12px;
}
.product-characteristics__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.product-characteristics__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  aspect-ratio: 1;
  background: url("../../images/about-us/checkbox.svg") center/contain no-repeat;
}

.service {
  --translate-item: 57px;
  overflow-x: clip;
  padding-bottom: 150px;
}
@media (max-width: 768.98px) {
  .service {
    padding-bottom: 100px;
  }
}
.service__header {
  display: flex;
  align-items: start;
  column-gap: 274px;
  padding-bottom: 46px;
}
@media (max-width: 1024.98px) {
  .service__header {
    column-gap: 174px;
  }
}
@media (max-width: 768.98px) {
  .service__header {
    flex-direction: column;
    row-gap: 12px;
    padding-bottom: 24px;
  }
}
.service__overlay {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.service__title {
  width: max-content;
}
.service__description {
  max-width: 625px;
  position: relative;
}
@media (min-width: 768.98px) {
  .service__description::after {
    content: "";
    position: absolute;
    top: -200px;
    right: -210px;
    width: 613px;
    height: 619px;
    opacity: 0.8;
    z-index: -1;
    filter: blur(50px);
    background: url("../../images/background-gradient.png") center/contain no-repeat;
  }
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 26px;
  row-gap: 32px;
  padding-bottom: calc(var(--translate-item) + 78px);
}
@media (max-width: 1024.98px) {
  .service__list {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--translate-item);
  }
}
@media (max-width: 768.98px) {
  .service__list {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0;
  }
}
.service__item {
  position: relative;
  background-color: var(--color-black-50);
  border-image: var(--border-image-gradient-grey-black);
  padding: 38px 32px 25px;
  min-height: 291px;
}
.service__item-image {
  padding-bottom: 60px;
}
.service__item-title {
  padding-bottom: 12px;
}
.service__item-link-container {
  position: absolute;
  top: 50%;
  left: 1px;
  right: 1px;
  bottom: 1px;
  display: flex;
  align-items: end;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition-duration: var(--transition-duration);
  background: linear-gradient(180deg, rgba(37, 37, 50, 0) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);
}
.service__item-link-container:hover {
  visibility: visible;
  opacity: 1;
}
.service__item-link {
  bottom: 31px;
}
.service__item-description > p {
  font-size: 14px;
}
.service__item:hover .service__item-link-container {
  visibility: visible;
  opacity: 1;
}
.service__item::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  border-image: var(--border-image-gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.service__item:hover::before {
  opacity: 1;
}
@media (min-width: 1024.98px) {
  .service__item:nth-child(3n+2) {
    translate: 0 var(--translate-item);
    margin-left: 10px;
  }
  .service__item:nth-child(3n) {
    translate: 0 calc(var(--translate-item) + 78px);
  }
}
@media (max-width: 1024.98px) {
  .service__item:nth-child(2n) {
    translate: 0 var(--translate-item);
  }
}
@media (max-width: 768.98px) {
  .service__item:nth-child(2n) {
    translate: 0;
  }
}

.accordion {
  --transition-duration: 0.3s;
}
.accordion__details {
  padding-bottom: 12px;
  border-bottom: var(--border);
}
.accordion__details[open] .accordion__title > span::after {
  rotate: -180deg;
  transition-duration: var(--transition-duration);
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  padding-top: 12px;
}
.accordion__summary {
  list-style: none;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__title > span {
  display: flex;
  justify-content: space-between;
}
.accordion__title > span::after {
  transition-duration: var(--transition-duration);
}
.accordion .accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: var(--transition-duration);
}
.accordion .accordion__content-inner {
  overflow: hidden;
}
.accordion .accordion__content-inner > p {
  font-weight: 400;
}

.accordion-group {
  display: grid;
  row-gap: 48px;
}

.section-alt__header {
  max-width: 679px;
  text-align: center;
}
.section-alt__subtitle {
  padding-bottom: 12px;
}
.section-alt__main {
  display: grid;
  justify-items: center;
  row-gap: 48px;
}

.tile {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-white);
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  width: max-content;
}

.timeline {
  --progress-width: 8px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.timeline__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16px;
  height: 16px;
}
.timeline__button-vertical-line {
  width: 5px;
  height: 90%;
  background-color: white;
  border-radius: 10px;
}
.timeline__line {
  --transition: width .5s ease-out;
  position: relative;
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.timeline__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: var(--progress-width);
  border-radius: 4px;
  background-color: var(--color-white);
  transition: var(--transition);
}
.timeline__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 80px;
  border-radius: 4px;
  background-color: var(--color-white);
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
