@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/header';
@use 'blocks/logo';
@use 'blocks/icon';

@use 'blocks/burger-button';

@use 'blocks/footer';
@use 'blocks/soc1als';

@use 'blocks/hero-alt';
@use 'blocks/clients';
@use 'blocks/team';
@use 'blocks/product-features';
@use 'blocks/button';
@use 'blocks/video-player';

@use 'blocks/section';
@use 'blocks/gradient-text';
@use 'blocks/product-characteristics';

@use 'blocks/service';

@use 'blocks/accordion';
@use 'blocks/accordion-group';

@use 'blocks/section-alt';
@use 'blocks/tile';
@use 'blocks/timeline';

@use 'blocks/reviews';
@use 'blocks/circles';

@use 'blocks/price';

@use 'blocks/partners';

@use 'blocks/article';
@use 'blocks/slider';

@use 'blocks/subscribe';

@use 'blocks/hero';
@use 'blocks/breadcrumb';

@use 'blocks/our-team';
@use 'blocks/team-members';

@use 'blocks/metrics';

@use 'blocks/detail-service';

@use 'blocks/pricing-plans';
@use 'blocks/pricing-card';